* {
    margin: 0;
    padding: 0;
}
.tab {
    width: 500px;
    height: 500px;
    border: 1px solid cyan;
    margin: 50px auto;
}
.tab .nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #1a1818;
    line-height: 50px;
    text-align: center;
}
.tab .nav .nav-item {
    width: 33.3%;
    background: lightyellow;
    border-right: 1px solid darkcyan;
    cursor: pointer;
}
.tab .nav .nav-item:nth-child(3) {
	border-right: 0;
}
.tab .nav-item.current {
    background: lightseagreen;
    color: white;
}
.tab .page {
    height: 450px;
    position: relative;
}
.tab .page .page-item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 100px;
    text-align: center;
    line-height: 450px;
}
.page .page-item.current {
    display: block;
}